html
{ height:  100%;
  width:   100%;
  display: table;
}

body
{ display:          table-cell;
  text-align:       center;
  vertical-align:   middle;
  background-color: #C5EFFC;
  font-size:        3vw !important;
  font-family:      Verdana, Helvetica, sans-serif;
}

h1
{ padding: 0;
  margin:  0;
  font-size: 100%; /* 1.25^5 = 3.0518 */
}

p
{ font-family: "Times New Roman", Times, serif;
  font-size:   100%;
}
/* * { border: solid 1px red; } */
/* * { outline: solid 1px red; } */